<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../public/MDB5-STANDARD-UI-KIT-Free-7.1.0/css/mdb.min.css">
    <link rel="stylesheet" href="../public/MDB5-STANDARD-UI-KIT-Free-7.1.0/css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style.css">
    <title>Express | Routing</title>
</head>
<body>

   
     
   

     <!--full secreen-->
     <div class="offcanvas offcanvas-start show text-bg-dark" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkLabel">Contact</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvasDark" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem delectus labore recusandae repudiandae reprehenderit! Aut tenetur esse doloremque id hic consectetur, eum, odio velit nisi, corporis quos impedit! Cumque, commodi.</p>
        </div>
      </div>
   
    
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/mdbootstrap/js/mdb.min.js"></script>
    <script src="../public/MDB5-STANDARD-UI-KIT-Free-7.1.0/js/mdb.es.min.js"></script>
</body>
</html>