<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../public/MDB5-STANDARD-UI-KIT-Free-7.1.0/css/mdb.min.css">
    <link rel="stylesheet" href="../public/MDB5-STANDARD-UI-KIT-Free-7.1.0/css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style.css">
    <title>Express | Routing</title>
</head>
<body>

   
     
    <nav class="navbar  navbar-dark bg-dark navbar-expand-sm">
        <div class="container">
            <a href="/" class="navbar-brand">Express Routing</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">  
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item px-2">  
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item px-2">  
                        <a href="/services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item px-2">  
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

     <!--full secreen-->
     <div class="landing-page ">
        <div class="wrapper">
            <div class="d-flex flex-column justify-content-center text-center h-100 align-items-center">
                <h5 class="display-4">Welcome to Express JS</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque labore laborum quis aliquid quibusdam, cum enim laboriosam dolore officia ipsum dolorum reiciendis vitae id sint ab, voluptas eaque nobis quas aspernatur laudantium. Commodi iure laboriosam hic perspiciatis rerum necessitatibus unde ut quos sunt, asperiores assumenda doloribus nisi eveniet adipisci.</p>
                
            </div>
        </div>
    </div>
   
    
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/mdbootstrap/js/mdb.min.js"></script>
    <script src="../public/MDB5-STANDARD-UI-KIT-Free-7.1.0/js/mdb.es.min.js"></script>
</body>
</html>