<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node js</title>
    <style>
        body{
            text-align: center;
            background-color: rgb(88, 43, 212) ;
        }
        h3{
            font-size: 35px;
            color: rgb(238, 245, 239);
        }
        p{
            font-size: 25px;
            color: white;
        }
        nav{
            background-color: darkcyan;
            padding: 10px;
        }
        nav a{
            text-decoration: none;
            color: white;
            padding: 0 20px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
         <a href="/about">About Us</a>
         <a href="/service">Services</a>
         <a href="/contact">Contact</a>
    </nav>
    <div>
        <h3>Contact</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem saepe quia eaque magnam architecto recusandae alias quaerat excepturi voluptas! Neque, sapiente! Delectus libero porro quae consectetur sequi ullam quidem ipsum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione exercitationem voluptatem commodi reprehenderit neque autem, fugit odit doloribus labore, culpa, assumenda natus obcaecati maxime sunt tenetur vero reiciendis molestias perspiciatis hic asperiores esse perferendis nostrum. Labore illum consequatur iste atque quibusdam eos, animi, eaque aperiam voluptates dolorum quam, earum asperiores.</p>
       
    </div>
</body>
</html>